
body {
  background-color: black;
  color: #00ff00;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 2em;
}
h1 span {
  text-shadow: 0 0 10px #0f0;
}
input, button {
  padding: 0.5em;
  margin: 1em;
  background-color: black;
  color: #0f0;
  border: 1px solid #0f0;
  border-radius: 5px;
}
#capsules-container {
  margin-top: 2em;
}
.capsule {
  background: rgba(0,255,0,0.05);
  border: 1px solid #0f0;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}
.share-buttons a {
  margin: 0 5px;
  text-decoration: none;
  color: #00ff00;
  font-size: 1.5em;
}
